.welcome-text {
    font-family: monospace;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 5px;
}

::placeholder {
    color: black;
}

.container {
    position: absolute;
    margin-top: 100px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

select:required:invalid {
    color: #666;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #000;
}

.icon {
    margin-top: 24px;
    width: 40px;
    height: 38px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.form-group {
    width: 300px;
}

.suggested {
    font-family: monospace;
    font-size: 26px;
    margin-left: 50px;
    margin-top: 30px;
}

.card-group {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
    margin-left: 50px;
}

.card {
    margin-right: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
}

.container-card {
    padding: 2px 16px;
}

.img-card {
    height: 300px;
    width: auto;
    cursor: pointer;
}

.card-text {
    font-size: 14xp;
    font-family: monospace;
}

.purpose-text {
    font-size: 10xp;
    font-family: monospace;
    margin-left: 17px;
    margin-top: 10px;
}

.price-text {
    font-size: 10xp;
    font-family: monospace;
    margin-left: 17px;
    margin-top: -18px;
}

.card-icon {
    width: 25px;
    margin-left: 165px;
    margin-top: -45px;
    cursor: pointer;
}