<div class="container">
  <button (click)="location.back()" class="btn btn-light border-3 border-dark border">
    <img src="assets/back.png" width="20"/>
    Back to home
  </button>
  <p style="font-size: 40px" class="text-center">Give a book</p>
  <div class="steps">
    <div class="d-flex justify-content-center">
      <div class="d-flex align-items-center" *ngFor="let step of steps; let index = index">
        <div class="step">
          <div class="step-circle" [class.active]="step.number === stepIndex">{{step.number}}</div>
          <div class="step-title">{{step.title}}</div>
        </div>
        <div *ngIf="index !== steps.length - 1" class="line"></div>
      </div>
    </div>
  </div>

  <app-description
    (onSubmit)="handleSubmitDescription($event)"
    [hidden]="stepIndex !== 1"></app-description>
  <app-verification
    (onSubmit)="stepIndex = stepIndex + 1"
    [data]="data"
    (onEdit)="stepIndex = stepIndex - 1"
    *ngIf="stepIndex === 2"></app-verification>
  <app-confirmation
    (onClose)="onClose()"
    (onSeeList)="onSeeList()"
    *ngIf="stepIndex === 3"></app-confirmation>
</div>
