<div class="container">
    <form #bookForm="ngForm" class="form">
        <div class="form-group">
            <label>Title</label>
            <input appHighlight class="form-control" type="text" placeholder="Diary of a Wimpy Kid" disabled>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select class="form-select" aria-label="Category select" placeholder="Category" disabled>
                <option value="" disabled hidden>Category</option>
                <option value="Academic">Academic</option>
                <option value="Narrative" selected>Narrative</option>
            </select>
        </div>

        <div class="form-group">
            <label>Purpose</label>
            <select class="form-select" aria-label="Category select" placeholder="Purpose" disabled>
                <option value="" disabled hidden>Purpose</option>
                <option value="Buy" selected>Buy</option>
                <option value="Borrow">Borrow</option>
            </select>
        </div>

        <div class="form-group" aria-disabled="true">
            <img class="icon" src="assets\search.svg" alt="start search button">
        </div>
    </form>
    <div class="results">
        <p class="text-results">Results</p>
        <div class="filters" type="button" (click)="filterPress()">
            <p class="text-filter">Filters</p>
            <img class="filters-icon" src="assets\filters.svg" alt="filters icon">
        </div>
    </div>
    <div class="first-book-card" (click)="saveFilter()">
        <img class="book-img" src="assets\diary2.jpg" alt="The image for 'Diary of a Wimpy kid'">
        <div class="book-details">
            <p class="title"><b>Diary of a Wimpy Kid</b></p>
            <p class="price">€8</p>
            <div class="delivery-details">
                <img class="filters-icon" src="assets\delivery.svg" alt="home delivery icon">
                <p class="delivery-text">home delivery</p>
            </div>
        </div>
        <div>
            <p class="condition">As new</p>
        </div>
        <img type="button" class="heart-icon" src="assets\black-heart.svg" alt="add to favorites icon" (click)="toUnimplemented()">
    </div>

    <div class="book-card">
        <img class="book-img" src="assets\diary3.jpg" alt="The image for 'Diary of a Wimpy kid'">
        <div class="book-details">
            <p class="title"><b>Diary of a Wimpy Kid</b></p>
            <p class="price">€11</p>
            <div class="delivery-details">
                <img class="filters-icon" src="assets\delivery.svg" alt="home delivery icon">
                <p class="delivery-text">home delivery</p>
            </div>
        </div>
        <div>
            <p class="condition">Damaged</p>
        </div>
        <img type="button" class="heart-icon2" src="assets\black-heart.svg" alt="add to favorites icon" (click)="toUnimplemented()">
    </div>

    <div class="book-card">
        <img class="book-img" src="assets\diary4.jpg" alt="The image for 'Diary of a Wimpy kid'">
        <div class="book-details">
            <p class="title"><b>Diary of a Wimpy Kid</b></p>
            <p class="price">€16</p>
            <div class="delivery-details">
                <img class="filters-icon" src="assets\personal-exchange.svg" alt="home delivery icon">
                <p class="delivery-text">in person exchange</p>
            </div>
        </div>
        <div>
            <p class="condition">Good</p>
        </div>
        <img type="button" class="heart-icon" src="assets\black-heart.svg" alt="add to favorites icon" (click)="toUnimplemented()">
    </div>

    <div class="book-card">
        <img class="book-img" src="assets\diary5.jpg" alt="The image for 'Diary of a Wimpy kid'">
        <div class="book-details">
            <p class="title"><b>Diary of a Wimpy Kid</b></p>
            <p class="price">€14</p>
            <div class="delivery-details">
                <img class="filters-icon" src="assets\delivery.svg" alt="home delivery icon">
                <p class="delivery-text">home delivery</p>
            </div>
        </div>
        <div>
            <p class="condition">Good</p>
        </div>
        <img type="button" class="heart-icon" src="assets\black-heart.svg" alt="add to favorites icon" (click)="toUnimplemented()">
    </div>
</div>

<div #filter class="filter-box">
    <app-buy-filters></app-buy-filters>
</div>