.container {
    position: absolute;
    margin-top: 100px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-top: 24px;
    width: 40px;
    height: 38px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(233, 236, 239);
}

.form-group {
    width: 300px;
}

::placeholder {
    color: black;
}