<div class="container">
    <form #bookForm="ngForm" class="form">
        <div class="form-group">
            <label>Title</label>
            <input appHighlight class="form-control" type="text" placeholder="Diary of a Wimpy Kid" disabled>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select class="form-select" aria-label="Category select" placeholder="Category" disabled>
                <option value="" disabled hidden>Category</option>
                <option value="Academic">Academic</option>
                <option value="Narrative" selected>Narrative</option>
            </select>
        </div>

        <div class="form-group">
            <label>Purpose</label>
            <select class="form-select" aria-label="Category select" placeholder="Purpose" disabled>
                <option value="" disabled hidden>Purpose</option>
                <option value="Buy" selected>Buy</option>
                <option value="Borrow">Borrow</option>
            </select>
        </div>

        <div class="form-group" aria-disabled="true">
            <img class="icon" src="assets\search.svg" alt="start search button">
        </div>
    </form>
</div>