.container {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

button {
    font-family: monospace;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    border: 2px solid #01001b;
    width: fit-content;
    /* color: white; */
}

#chat-btn {
    background-color: #01001b;
    color: white;
    margin-left: 5px;
    font-family: monospace;
    font-size: 16px;
    align-self: center;
    margin-bottom: 10px;
}

.stating {
    font-family: monospace;
    font-size: 28px;
    align-self: center;
    margin-top: 20px;
}

.stating2 {
    font-family: monospace;
    font-size: 28px;
    align-self: center;
    margin-top: -15px;
}

.text {
    font-family: monospace;
    font-size: 16px;
    align-self: center;
    margin-top: -10px;
}

.text-price {
    font-family: monospace;
    font-size: 16px;
    align-self: center;
    margin-top: 20px;
}

.book-img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #01001b;
    /* background: gainsboro; */
}

.active {
    background: #01001b;
    color: white;
}

.step-title {
    margin-top: 10px;
    font-family: monospace;
    font-size: 16px;
}

.square {
    background-color: black;
    width: 70px;
    height: 1px;
    margin-left: 30px;
    margin-top: -28px;
}

.circle-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
}

.steps {
    align-self: center;
    width: 1000px;
    align-content: center;
    align-items: center;
    margin-left: 120px;
}



  
