<div class="filter-box">
    <img src="assets/close-bold.svg" alt="close icon" type="button" class="icon" (click)="closeFilter()" />
    <label class="text"><b>Price</b></label>
    <div class="price-range">
        <label class="text">From</label>
        <input placeholder="€">
        <label class="text">To</label>
        <input placeholder="€">
    </div>
    <div class="price-range">
        <input type="checkbox" id="free" name="free">
        <label class="checkbox-text" for="free">For free</label>
    </div>
    <div class="price-range">
        <input type="checkbox" id="prices" name="prices">
        <label class="checkbox-text" for="prices">All prices</label>
    </div>
    <hr class="solid">
    <label class="text"><b>Availability</b></label>
    <div class="price-range">
        <input type="checkbox" id="available-now" name="available-now">
        <label class="checkbox-text" for="available-now">Available now</label>
    </div>
    <hr class="solid">
    <label class="text"><b>Lending period</b></label>
    <div class="price-range">
        <input type="checkbox" id="1-week" name="1-week">
        <label class="checkbox-text" for="1-week">1 week</label>
        <input type="checkbox" id="2-weeks" name="2-weeks">
        <label class="checkbox-text" for="2-weeks">2 weeks</label>
    </div>
    <div class="price-range">
        <input type="checkbox" id="3-weeks" name="3-weeks">
        <label class="checkbox-text" for="3-weeks">3 weeks</label>
    </div>
    <hr class="solid">
    <label class="text"><b>Lending extendible</b></label>
    <div class="price-range">
        <input type="checkbox" id="yes" name="yes">
        <label class="checkbox-text" for="yes">Yes</label>
        <input type="checkbox" id="no" name="no">
        <label class="checkbox-text" for="no">No</label>
    </div>
    <hr class="solid">
    <label class="text"><b>Conditions</b></label>
    <div class="price-range">
        <input type="checkbox" id="as-new" name="as-new">
        <label class="checkbox-text" for="as-new">As new</label>
        <input type="checkbox" id="quite-good" name="quite-good">
        <label class="checkbox-text" for="quite-good">Quite good</label>
    </div>
    <div class="price-range">
        <input type="checkbox" id="good" name="good">
        <label class="checkbox-text" for="good">Good</label>
        <input type="checkbox" id="damaged" name="damaged">
        <label class="checkbox-text" for="damaged">Damaged</label>
    </div>
    <hr class="solid">
    <label class="text"><b>Delivery methods</b></label>
    <div class="price-range">
        <input type="checkbox" id="home-delivery" name="home-delivery">
        <label class="checkbox-text" for="home-delivery">Home delivery</label>
    </div>
    <div class="price-range">
        <input type="checkbox" id="personal-delivery" name="personal-delivery">
        <label class="checkbox-text" for="personal-delivery">In person exchange</label>
    </div>
    <button class="btn btn-light" (click)="saveFilter()">Save</button>
</div>